.github
.husky
.idea
nginx
node_modules/*
server
utils
.gitattributes
.gitignore
.pnp.cjs
.pnp.loader.mjs
docker-compose.yml
joker-web-app.iml
package.json
yarn.lock
.dockerignore
.editorconfig
client/node_modules/*
client/public
client/.babelrc
client/.dockerignore
client/.yarnrc.yml
client/babel.config.cjs
client/Dockerfile
client/index.html
client/jest.config.js
client/package.json
client/yarn.lock
