

#test-suites {
    margin-left: 60px;
    margin-top: 15px;
    background: #212529;
    color: #fff;
}

#test-steps {
    margin-top: 15px;
    margin-left: 60px;
    background: #212529;
    color: #fff;
}
